<p>orbit-list works!</p>
<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name header</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>

   <tr *ngFor="let list of this.satellites"
   [ngStyle]="{'background-color' : list.type === 'Space Debris' ? ' #da8a8a' : ' #dad8d8'}"
   >     
      <td>{{list.name}}</td>
      <td>{{list.type}}</td>
      <td>{{list.operational}}</td>
      <td>{{list.orbitType}}</td>
      <td>{{list.launchDate}}</td>
   </tr>
</table>
